{{ 'three-layer-image-layout.css' | asset_url | stylesheet_tag }}

    <div class="section-container">
        <div class="container-title">
            <!-- <p>Collection available now</p> -->
        </div>
       <div class="image-container">
        <a href="{{ section.settings.imagelink }}"><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
        <a href=""><img src="/images/shoe-removebg-preview.png"/></a>
       </div>
    </div>

{% schema %}
{
	"name": "Image Collage",
	"class": "spaced-section spaced-section--full-width",
	"settings": [{
			"type": "text",
			"id": "paragraph",
			"label": "Paragraph",
			"default": "Bluewash is a Shopify 2.0 Template."
		},
		{
			"type": "url",
			"id": "link",
			"label": "Link (optional)"
		}

	],
	"blocks": [{
		"type": "image",
		"name": "Image",
		"limit": 2,
		"settings": [{
				"type": "image_picker",
				"id": "image_container",
				"label": "Choose Image"
			},
			{
				"type": "text",
				"id": "image_title",
				"label": "Title",
				"default": "Title here"
			},
			{
				"type": "color",
				"id": "title_color",
				"label": "Title Color",
				"default": "#000000"
			},
			{
				"type": "text",
				"id": "image_paragraph",
				"label": "Paragraph",
				"default": "Paragraph here"
			}, {
				"type": "color",
				"id": "paragraph_color",
				"label": "Paragraph Color",
				"default": "#000000"
			}, {
				"type": "url",
				"id": "image_link",
				"label": "Image Link"
			}, {
				"type": "text",
				"id": "image_link_title",
				"label": "Link Title",
				"default": "Link here"
			}, {
				"type": "color",
				"id": "image_link_color",
				"label": "Link Text Color",
				"default": "#000000"
			}, {
				"type": "color",
				"id": "image_link_background_color",
				"label": "Link Background Color",
				"default": "#FFFFFF"
			}
		]
	}],
	"presets": [{
		"name": "Image Collage",
		"blocks": [{
			"type": "image"
		}, {
			"type": "image"

		}]
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}