.section-container{
    padding: 0px 20px;
}

.container-title{
    margin-bottom: 20px;
}

.container-title p{
    font-size: 17px;
  font-weight: 600;
}

.image-container{
    max-width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.image-container a{
    /* width: 33%; */
    display: inline-block;
    /* padding: 10%; */
}

img{
    /* width: 33%; */
    display: block;
   width: 100%;
  max-width: 300px; /* Set the maximum width of the image to 300px */
  height: auto; /* Maintain the aspect ratio of the image */
}